@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px;
    background-color: navy;
    color: white;
    font-size: 1.25rem;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

header p {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 8px;
}

#user-message {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}

/* Rock, paper, scissors buttons */

.choices {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.choice {
    display: inline-block;
    background: #333;
    border: 10px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 30px;
}

.choice:hover {
    background: green;
    cursor:pointer;
}

/* Player and computer selections */

#selections {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}

/* Winner result */

#result {
    text-align: center;
    color: red;
    font-size: 2.2em;
    font-weight: bold;
}

/* Scoreboard */

#scores {
    background-color: navy;
    color: white;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    font-size: 3em;
    padding: 15px;
    position: relative;
}

.label {
    font-size: 0.45em;
    font-weight: bold;
    padding: 2px 10px;
}

#player-label {
    color:black;
    top: 25px;
    left: -120px;
    position: absolute;
}

#computer-label {
    color:black;
    top: 25px;
    right: -170px;
    position: absolute;
}

/* Reset button */

#reset-btn {
    text-align: center;
}

#reset {
    color: black;
    background-color:rgb(228, 226, 226);
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

#reset:hover {
    color: white;
    background-color:navy;
}

/* Media queries */

@media (max-width: 425px){

    header {
        font-size: 1.1rem;
    }
    
    header p {
        font-size: 1em;
    }
    
    #user-message {
        font-size: 1.3em;
    }
    .choice {
        margin: 15px 10px;
    }

    #scores {
        width: 120px;
    }

    .label {
        font-size: 0.4em;
    }

    #player-label {
        left: -110px;
    }
    
    #computer-label {
        right: -150px;
    }
}

@media (max-width: 320px) {

    #scores {
        width: 100px;
        padding: 10px;
    }
    #player-score {
        font-size: 0.6em;
    }

    #computer-score {
        font-size: 0.6em;
    }

    .label {
        font-size: 0.35em;
    }

    #player-label {
        left: -100px;
    }
    
    #computer-label {
        right: -140px;
    }
}
